@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

:root {
  scroll-behavior: auto;
}

.active {
  font-weight: 500;
}

.anchor {
  text-decoration: none;
  color: unset;
}

.anchor:hover {
  text-decoration: underline;
}

.floating-alerts {
  z-index: 999;
}

.floating-alert {
  display: none;
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1200px) {
  .ord-1 {
    order: 1;
  }

  .ord-2 {
    order: 2;
  }

  .ord-3 {
    order: 3;
  }

  .ord-4 {
    order: 4;
  }

  .ord-5 {
    order: 5;
  }

  .ord-6 {
    order: 6;
  }

  .ord-7 {
    order: 7;
  }

  .ord-8 {
    order: 8;
  }

  .fs-larger {
    font-size: 1.5rem;
  }
}
